DATABASE_URL=database_url_here
PAYLOAD_SECRET=payload_secret_here
# Added by Payload

S3_ACCESS_KEY_ID=access_key_id_here
S3_SECRET_ACCESS_KEY=secret_access_key_here
S3_REGION=region_here
S3_BUCKET=bucket_name_here
S3_ENDPOINT=endpoint_here

BREVO_API_KEY=brevo_api_key_here
BREVO_EMAILS_ACTIVE=true
BREVO_SENDER_NAME=sender_name_here
BREVO_SENDER_EMAIL=sender_email_here

WINDYPDF_API_KEY=windypdf_api_key_here

NEXT_PUBLIC_STRIPE_PK=stripe_pk_here
STRIPE_SK=stripe_sk_here
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret_here